In [ ]:
## Data Types In Python

- some datatypes are Mutable and Some are Immutable 
- Mutable means we can modify
- Immutable means we can not modify 

Below given are the few data types we have in python

- Numeric
- string
- Tuples
- List
- set
- Dictionaries
- None
- Range

Mutable Data Types In Python 

- List
- Dictionaries
- Set

Immutable Data Types 

- Numeric
- string
- tuples


### Immutable data types 

Numeric Data Types in Python 

In Python we have 4 numeric data types 
- Integer
- Float
- boolean
- complex

In [5]:
# Create two variabes a and b with some integer value assigned to them
a = 25
b = 2
type(b)

int

In [7]:
# Let's perform some operation arithmetic operations on the integer data types 

print ("a + b = ",a + b)
print ("a - b = ",a - b)
print ("a / b = ",a / b)      # float devison 
print ("a * b = ",a * b)
print ("a // b = ",a // b)    # truncated devison 
print ("a ** b = ",a ** b)    # Exponential operator

a + b =  27
a - b =  23
a / b =  12.5
a * b =  50
a // b =  12
a ** b =  625

In [8]:
print (a % b)

1

In [14]:
import math
math.sqrt(a)

5.0

In [15]:
# Let's perform some operation arithmetic operations on the integer data types 
x = 4
y = 5
print ("x / y = ",a / b)      # float devison 
print ("x // y = ",a // b)    # truncated devison 
print ("x ** y = ",a ** b)    # Exponential operator

x / y =  12.5
x // y =  12
x ** y =  625

In [18]:
# Float data types in python 
a = 2.56
b = 3.57

type (a)

float

In [1]:
c = a + b
d = a - b
e = a / b
f = a * b
g = a ** b

print (a,b,c,d,e,f,g,sep="\n")

NameError: name 'a' is not defined

#### Boolean
The two constants True and False are defined.

The usual boolean operators are also available: ==, !=, >, >=, <, <=

In [3]:
# Boolean Examples:

a = 4
b = 5
c = a < b
print ("a < b =",a < b)
print ("a > b =",a > b)
print ("a == b =",a == b)
print ("a != b =",a != b)
type(c)

a < b = True
a > b = False
a == b = False
a != b = True

bool

In [5]:
# complex example

z = 2 + 3j
print(z)
type(z)

(2+3j)

complex

In [16]:
z.conjugate()  # conjugate is a function which is applicable on object Z
z.imag
z.real
abs(z)
print (z.conjugate(),z.imag,z.real,abs(z))

(2-3j) 3.0 2.0 3.605551275463989

In [18]:
name="Meerabo"
print(name)
type (name)

Meerabo

str

In [29]:
First_Name = "Meerabo"
Last_Name = "shah"
name = First_Name + " " + Last_Name
print(name)

len(First_Name)

Meerabo shah

7

In [30]:
First_Name[2]    # Indexing

'e'

In [31]:
First_Name[2:6] # Slicing

'erab'

In [32]:
First_Name[2] = 'i'

TypeError: 'str' object does not support item assignment

# In Python, we can not modify string once created , that's why string data types comes under immutable data types.

In [37]:
players = ("Dravid","Bumrah","Shewag","Kumble")
type(players)
print ("length of tuple is :",len(players))
print (players[2])
players[2] = "Dhoni"

length of tuple is : 4
Shewag

TypeError: 'tuple' object does not support item assignment

In [38]:
# Tuple is immutable nd ordered in nature

In [40]:
player1 = "Dravid","Bumrah","Shewag","Kumble"
print (player1)
type(player1)

('Dravid', 'Bumrah', 'Shewag', 'Kumble')

tuple

In [42]:
player1.count("Dravid")

1

# List are mutable and ordered

In [58]:
actors_List = ["Amitabh","devanand","hritik","maheshbabu"]
actors_List
type(actors_List)

list

In [63]:
actors_List[2] = "Nana patekar"
actors_List
print (actors_List)
actors_List.reverse()
actors_List    # reversed list
print(actors_List)
actors_List.count('Nana patekar')

['Amitabh', 'Nana patekar', 'Nana patekar', 'maheshbabu']
['maheshbabu', 'Nana patekar', 'Nana patekar', 'Amitabh']

2

In [3]:
# show list are mutable & Tuples are immutable with an example 
actors_List = ["Amitabh","devanand","hritik","maheshbabu"]
player1 = "Dravid","Bumrah","Shewag","Kumble"

actors_List[2] = "pathan"
print("Its Mutable",actors_List)    

player1[1] = "Kapil"
print("Its Immutable ",player1)

Its Mutable ['Amitabh', 'devanand', 'pathan', 'maheshbabu']

TypeError: 'tuple' object does not support item assignment

In [6]:
# strings can be created using the single Quaotes and DOuble Quotes 
# when u have paragraph we can use triple Quotes & we can enclude enter as well  .. """ """
text = """Become a Pro with these valuable skills. Start Your Course Today. 
Join Millions of Learners From Already Learning On Udemy! Download To Your Phone. 
Over 130,000 Courses. 30-Day Money Guarantee. 40M Students Enrolled. 
Expert Instructors. Lifetime Access"""

print(text)

Become a Pro with these valuable skills. Start Your Course Today.
Join Millions of Learners From Already Learning On Udemy! Download To Your Phone.
Over 130,000 Courses. 30-Day Money Guarantee. 40M Students Enrolled.
Expert Instructors. Lifetime Access

In [7]:
text

'Become a Pro with these valuable skills. Start Your Course Today. \nJoin Millions of Learners From Already Learning On Udemy! Download To Your Phone. \nOver 130,000 Courses. 30-Day Money Guarantee. 40M Students Enrolled. \nExpert Instructors. Lifetime Access'

In [10]:
print(text.lower())

become a pro with these valuable skills. start your course today.
join millions of learners from already learning on udemy! download to your phone.
over 130,000 courses. 30-day money guarantee. 40m students enrolled.
expert instructors. lifetime access

In [12]:
text_lower = text.lower()
print(text_lower)

become a pro with these valuable skills. start your course today.
join millions of learners from already learning on udemy! download to your phone.
over 130,000 courses. 30-day money guarantee. 40m students enrolled.
expert instructors. lifetime access

In [13]:
text_upper = text.upper()
print(text_upper)

BECOME A PRO WITH THESE VALUABLE SKILLS. START YOUR COURSE TODAY.
JOIN MILLIONS OF LEARNERS FROM ALREADY LEARNING ON UDEMY! DOWNLOAD TO YOUR PHONE.
OVER 130,000 COURSES. 30-DAY MONEY GUARANTEE. 40M STUDENTS ENROLLED.
EXPERT INSTRUCTORS. LIFETIME ACCESS

In [27]:
words = text_lower.split()
#print(words)

print(text_lower.capitalize())

Become a pro with these valuable skills. start your course today.
join millions of learners from already learning on udemy! download to your phone.
over 130,000 courses. 30-day money guarantee. 40m students enrolled.
expert instructors. lifetime access

In [26]:
print (text_lower.title())

Become A Pro With These Valuable Skills. Start Your Course Today.
Join Millions Of Learners From Already Learning On Udemy! Download To Your Phone.
Over 130,000 Courses. 30-Day Money Guarantee. 40M Students Enrolled.
Expert Instructors. Lifetime Access

In [29]:
text.endswith('s',0,6)
text.endswith('e',0,6)

True

In [32]:
text.count('to')

1

In [34]:
print(text.rstrip().split())

['Become', 'a', 'Pro', 'with', 'these', 'valuable', 'skills.', 'Start', 'Your', 'Course', 'Today.', 'Join', 'Millions', 'of', 'Learners', 'From', 'Already', 'Learning', 'On', 'Udemy!', 'Download', 'To', 'Your', 'Phone.', 'Over', '130,000', 'Courses.', '30-Day', 'Money', 'Guarantee.', '40M', 'Students', 'Enrolled.', 'Expert', 'Instructors.', 'Lifetime', 'Access']

In [35]:
print(text.lstrip().split())

['Become', 'a', 'Pro', 'with', 'these', 'valuable', 'skills.', 'Start', 'Your', 'Course', 'Today.', 'Join', 'Millions', 'of', 'Learners', 'From', 'Already', 'Learning', 'On', 'Udemy!', 'Download', 'To', 'Your', 'Phone.', 'Over', '130,000', 'Courses.', '30-Day', 'Money', 'Guarantee.', '40M', 'Students', 'Enrolled.', 'Expert', 'Instructors.', 'Lifetime', 'Access']

In [42]:
words.append("hello")
words.extend(["hi","here"])
print(words)

['become', 'a', 'pro', 'with', 'these', 'valuable', 'skills.', 'start', 'your', 'course', 'today.', 'join', 'millions', 'of', 'learners', 'from', 'already', 'learning', 'on', 'udemy!', 'download', 'to', 'your', 'phone.', 'over', '130,000', 'courses.', '30-day', 'money', 'guarantee.', '40m', 'students', 'enrolled.', 'expert', 'instructors.', 'lifetime', 'access', 'hello', 'hi', 'here', 'hello', 'hi', 'here', 'hello', 'hi', 'here']

In [49]:
#   example of converting string to list 
string1 = "My name is meerabo"
list1 = string1.split()
list1.append("shah")
#list1.append(["i", "am", "python", "expert"])
#print(list1)
list1.extend(["i", "am", "python", "expert"])
print(list1)

['My', 'name', 'is', 'meerabo', 'shah', 'i', 'am', 'python', 'expert']

In [64]:
tuple1 = ("Gujarat","Maharastra","MP","Kerala","Rajasthan","Bengal")

#append, extend, pop, reverse
tuple1.count("MP")
tuple1.index("MP")

tuple1 + ("delhi",)    # append

# so if we want to delete or inser at some point in yuple then we need to go for slicing 

tuple1[:2]
tuple1[3:]
tuple1 = tuple1[:2] + tuple1[3:]
tuple1

('Gujarat', 'Maharastra', 'Kerala', 'Rajasthan', 'Bengal')

In [66]:
# Append: Add an element at end
# extend: Add two or more elements at end 
# Insert : insert an element at a desired position
# reverse: it reverese the order
# pop: it removes last element and if we pass index we can remove from certain position.
# delete : to remove multiple values 

# tuples we can not do append,extend,pop and all operations 
# for that we have to convert it to list and do the operations or do slicing

In [69]:
tuple_list1 = list(tuple1)
print (tuple_list1)

['Gujarat', 'Maharastra', 'Kerala', 'Rajasthan', 'Bengal']

# Dictionaries :

In [72]:
states_capitals = {"Telengana":"Hyderbad","AP":"Amaravathi","Haryana":"Chandigarh","Gujarat":"Gandhinagar","Meghalaya":"Shillang"}
type(states_capitals)

# Full Dictionary

print (states_capitals)

{'Telengana': 'Hyderbad', 'AP': 'Amaravathi', 'Haryana': 'Chandigarh', 'Gujarat': 'Gandhinagar', 'Meghalaya': 'Shillang'}
dict_keys(['Telengana', 'AP', 'Haryana', 'Gujarat', 'Meghalaya'])

In [73]:
# Keys of Dictionaries

print(states_capitals.keys())

dict_keys(['Telengana', 'AP', 'Haryana', 'Gujarat', 'Meghalaya'])

In [74]:
# Values of Dictionaries

print(states_capitals.values())

dict_values(['Hyderbad', 'Amaravathi', 'Chandigarh', 'Gandhinagar', 'Shillang'])

In [75]:
arrays_in_dict = {"1":["2","3","4"],"2":["3","4","5"],"3":["4","5","6"]}
print(arrays_in_dict)

{'1': ['2', '3', '4'], '2': ['3', '4', '5'], '3': ['4', '5', '6']}

In [76]:
states_capitals.items()

dict_items([('Telengana', 'Hyderbad'), ('AP', 'Amaravathi'), ('Haryana', 'Chandigarh'), ('Gujarat', 'Gandhinagar'), ('Meghalaya', 'Shillang')])

In [77]:
states_capitals[1]   # we can not call dictionaries by index as it is unordered

KeyError: 1

In [81]:
states_capitals.update({"cA":"Ccd"})
print (states_capitals)

{'Telengana': 'Hyderbad', 'AP': 'Amaravathi', 'Haryana': 'Chandigarh', 'Gujarat': 'Gandhinagar', 'Meghalaya': 'Shillang', 'cA': 'Ccd'}

# sets 

set is unordered and mutable but elements in sets are immutable 

- Collection of elements with different data types 
- Collection unique elements
- Indexing can not  be performed in set
- Sets follow order# Sets


- sets can be built using set() and {}

In [2]:
# note the double round-brackets while passing more than one value
myset1 = set(['Data Science','AI','Machine Learning','Statistics'])
myset1

{'AI', 'Data Science', 'Machine Learning', 'Statistics'}

In [4]:
myset1.add('pvtltd')
myset1

{'AI', 'Data Science', 'Machine Learning', 'Statistics', 'pvtltd'}

In [10]:
myset1.discard('AI')
myset1

TypeError: 'set' object does not support item assignment