In [3]:
import pandas as pd

#Series Concatenation

In [3]:
ser1 = pd.Series(['A','B','C'],index=[1,2,3])
ser1

1    A
2    B
3    C
dtype: object

In [5]:
ser2 = pd.Series( ['D', 'E', 'F'], index=[4, 5, 6])
ser2

4    D
5    E
6    F
dtype: object

In [10]:
print ("pd concat ",pd.concat([ser1,ser2]))

pd concat  1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [11]:
ser3 = pd.Series(['F', 'G', 'H'], index=[9,10,11])
ser3

9     F
10    G
11    H
dtype: object

In [12]:
print ("Pd3 concat",pd.concat([ser1,ser2,ser3]))

Pd3 concat 1     A
2     B
3     C
4     D
5     E
6     F
9     F
10    G
11    H
dtype: object

In [13]:
# DataFrame concatenation

In [14]:
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C' : ['cap', 'cat', 'car']},
                   index = [1,2,3])
df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'E': [ 'ear', 'eat', 'egg'], 'F': ['fan', 'fog', 'fat']}, 
                   index =[ 2, 3, 6])

In [15]:
df1

     A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car

In [16]:
df2

     D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat

In [17]:
print("Data frame 1 : \n", df1,'\n Data Frame 2: \n', df2)
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0))  # axis =0 is stacking one below the other
print("Concatenating Data Frames along axis 1: \n",pd.concat([df1,df2], axis = 1))
#will consider common indices

Data frame 1 :
      A    B    C
1  axe  bat  cap
2  art  bar  cat
3  ant  bin  car
 Data Frame 2:
      D    E    F
2  dam  ear  fan
3  den  eat  fog
6  dot  egg  fat
Concatenating Data Frames:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  NaN  NaN  NaN
3  ant  bin  car  NaN  NaN  NaN
2  NaN  NaN  NaN  dam  ear  fan
3  NaN  NaN  NaN  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

C:\Users\Jigar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Concatenating Data Frames along axis 1:
      A    B    C    D    E    F
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  dam  ear  fan
3  ant  bin  car  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

In [20]:
# OverLapping columns 
# for overlapping columns  the value of stackd one below 
# concatenation with axis=0 considers the overlap of columns 

df2 = pd.DataFrame({'D' : ['dam', 'den', 'dot'], 'B': [ 'ear', 'eat', 'egg'], 'C': ['fan', 'fog', 'fat']}, 
                   index =[ 2, 3, 6])

print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=0))  # axis =0 is stacking one below the other

Concatenating Data Frames:
      A    B    C    D
1  axe  bat  cap  NaN
2  art  bar  cat  NaN
3  ant  bin  car  NaN
2  NaN  ear  fan  dam
3  NaN  eat  fog  den
6  NaN  egg  fat  dot

C:\Users\Jigar\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [22]:
print("Concatenating Data Frames: \n",pd.concat([df1,df2], ignore_index=True,sort=True))

Concatenating Data Frames:
      A    B    C    D
0  axe  bat  cap  NaN
1  art  bar  cat  NaN
2  ant  bin  car  NaN
3  NaN  ear  fan  dam
4  NaN  eat  fog  den
5  NaN  egg  fat  dot

In [24]:
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=1,ignore_index=True,sort=True))

Concatenating Data Frames:
      0    1    2    3    4    5
1  axe  bat  cap  NaN  NaN  NaN
2  art  bar  cat  dam  ear  fan
3  ant  bin  car  den  eat  fog
6  NaN  NaN  NaN  dot  egg  fat

In [38]:
print("Concatenating Data Frames: \n",pd.concat([df1,df2],axis=1,sort=True))

Concatenating Data Frames:
      A    B    C    D    E    F
0  axe  bat  cap  dog  ear  fan
1  art  bar  cat  den  eat  fat
2  ant  bin  car  dot  egg  fog

### Axis=0
 - Concatenation just appends on dataframe below another
 - considers the intersection of columns stcaks values for them one below another
 - rowise indices if there is repition it reains the repitions



### Axis=1
 - Concatenation just appends one dataframe alonside the other columns are put together
 - considers the intersection of rows stcaks values for them one on the side of other
 - column indices(column names) if there is repition it retains the repetitions

In [39]:
df1 = pd.DataFrame({'A' : ['axe', 'art', 'ant'], 'B' : ['bat', 'bar', 'bin'], 'C' : ['cap', 'cat', 'car']})
df2=pd.DataFrame({'D':['dog', 'den', 'dot'], 'E':['ear', 'eat', 'egg'],  'F': ['fan', 'fat', 'fog']})

print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=1, ignore_index=True))
print("Concatenating Data Frames: \n",pd.concat([df1,df2], axis=1))

Concatenating Data Frames:
      0    1    2    3    4    5
0  axe  bat  cap  dog  ear  fan
1  art  bar  cat  den  eat  fat
2  ant  bin  car  dot  egg  fog
Concatenating Data Frames:
      A    B    C    D    E    F
0  axe  bat  cap  dog  ear  fan
1  art  bar  cat  den  eat  fat
2  ant  bin  car  dot  egg  fog

In [41]:
# Merge is Based on Column Column 

df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_fac = pd.DataFrame({'F_id' : [110,120,130,140,150 ],'F_name' : ['A', 'B', 'C', 'D', 'E'],'Branch': ['ECE','Mech', 'EEE', "IT", 'CS'] })


df_stud

   St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   Mech

In [42]:
df_fac

   F_id F_name Branch
0   110      A    ECE
1   120      B   Mech
2   130      C    EEE
3   140      D     IT
4   150      E     CS

In [43]:
#print("Student dataframe: \n", df_stud,'\nFaculty Dataframe :\n', df_fac)
df_merge = pd.merge(df_stud, df_fac)
print("Merged dataframe : \n ", df_merge)   #Merge on a common column
#works only if both dataframes have the specified column Default is inner
#print("Merged dataframe : \n ", pd.merge(df_stud, df_fac, on = 'Branch') )

Merged dataframe :
     St_id Branch  F_id F_name
0    101     IT   140      D
1    102     CS   150      E
2    104     CS   150      E
3    103    ECE   110      A
4    105   Mech   120      B

In [65]:

df1 = pd.DataFrame({'key': ['b','a','d','e'],'Dat1': [4,5,6,7]})
df2 = pd.DataFrame({'key': ['a','b','d','f'],'Dat2' : [1,2,3,11] })
df3 = pd.DataFrame({'key': ['a','b','a','c','a','a'],'Dat3' : [8,9,10,12,13,14] })

df_merge = pd.merge(df1, df2,on='key',how='outer')
print ("Outer Join\n",df_merge)

Outer Join
   key  Dat1  Dat2
0   b   4.0   2.0
1   a   5.0   1.0
2   d   6.0   3.0
3   e   7.0   NaN
4   f   NaN  11.0

In [62]:
df_merge = pd.merge(df1, df2,on='key',how='inner')
print ("Inner Join \n",df_merge)

Inner Join
   key  Dat1  Dat2
0   b     4     2
1   a     5     1
2   d     6     3

In [60]:
df_merge = pd.merge(df1, df2,on='key',how='left')
print ("Left Join \n",df_merge)

Left Join
   key  Dat1  Dat2
0   b     4   2.0
1   a     5   1.0
2   d     6   3.0
3   e     7   NaN

In [63]:
df_merge = pd.merge(df1, df2,on='key',how='right')
print ("Right Join\n",df_merge)

Right Join
   key  Dat1  Dat2
0   b   4.0     2
1   a   5.0     1
2   d   6.0     3
3   f   NaN    11

In [69]:
# Many One Merge 
df_merge = pd.merge(df2, df3,on='key',how='outer',sort=True)
print ("Outer Join\n",df_merge)

Outer Join
   key  Dat2  Dat3
0   a   1.0   8.0
1   a   1.0  10.0
2   a   1.0  13.0
3   a   1.0  14.0
4   b   2.0   9.0
5   c   NaN  12.0
6   d   3.0   NaN
7   f  11.0   NaN

In [71]:
# Many One Merge 
df_merge = pd.merge(df2, df3,on='key',how='inner',sort=True)
print ("Inner Join\n",df_merge)

Inner Join
   key  Dat2  Dat3
0   a     1     8
1   a     1    10
2   a     1    13
3   a     1    14
4   b     2     9

In [74]:
# Many One Merge 
df_merge = pd.merge(df2, df3,on='key',how='left',sort=True)
print ("Left Join\n",df_merge)

Left Join
   key  Dat2  Dat3
0   a     1   8.0
1   a     1  10.0
2   a     1  13.0
3   a     1  14.0
4   b     2   9.0
5   d     3   NaN
6   f    11   NaN

In [76]:
# Many One Merge 
df_merge = pd.merge(df2, df3,on='key',how='right',sort=True)
print ("Outer Join\n",df_merge)

Outer Join
   key  Dat2  Dat3
0   a   1.0     8
1   a   1.0    10
2   a   1.0    13
3   a   1.0    14
4   b   2.0     9
5   c   NaN    12

In [77]:
df1=pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a','a'], 'data1':[10,20,30,40,50,60]})
df2=pd.DataFrame({'key':['a', 'b', 'd', 'a'], 'data2':[100, 200, 300, 400]})
print(pd.merge(df1, df2, on='key', how='outer', sort=True))

  key  data1  data2
0   a   30.0  100.0
1   a   30.0  400.0
2   a   50.0  100.0
3   a   50.0  400.0
4   a   60.0  100.0
5   a   60.0  400.0
6   b   10.0  200.0
7   b   20.0  200.0
8   c   40.0    NaN
9   d    NaN  300.0

In [1]:
# Merge is based on Common Column 
# Join is based on Common Rows

In [4]:
df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_fac = pd.DataFrame({'F_id' : [110,120,130,140,150 ],'F_name' : ['A', 'B', 'C', 'D', 'E'],'Branch': ['ECE','Mech', 'EEE', "IT", 'CS'] })

In [6]:
print ("Student DataFrame",df_stud,"Faculty DataFrame",df_fac)

Student DataFrame    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   Mech Faculty DataFrame    F_id F_name Branch
0   110      A    ECE
1   120      B   Mech
2   130      C    EEE
3   140      D     IT
4   150      E     CS

In [8]:
df_merge = pd.merge(df_stud, df_fac,on='Branch',how='inner',sort=True)
print ("Inner Join\n",df_merge)

Inner Join
    St_id Branch  F_id F_name
0    102     CS   150      E
1    104     CS   150      E
2    103    ECE   110      A
3    101     IT   140      D
4    105   Mech   120      B

In [11]:
df_stud = pd.DataFrame({'St_id': [101,102,103,104,105],'Branch': ['IT','CS','ECE','CS','Mech']})
df_fac = pd.DataFrame({'F_name' : ['A', 'B', 'C', 'D', 'E'],'Stream': ['ECE','Mech', 'EEE', "IT", 'CS'] })
print ("Student DataFrame",df_stud,"Faculty DataFrame",df_fac)

Student DataFrame    St_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   Mech Faculty DataFrame   F_name Stream
0      A    ECE
1      B   Mech
2      C    EEE
3      D     IT
4      E     CS

In [12]:
print ("Merge when column name is different\n", pd.merge(df_stud,df_fac,left_on = 'Branch', right_on = 'Stream'))

Merge when column name is different
    St_id Branch F_name Stream
0    101     IT      D     IT
1    102     CS      E     CS
2    104     CS      E     CS
3    103    ECE      A    ECE
4    105   Mech      B   Mech

In [14]:
pd.merge(df_stud,df_fac,left_on = 'Branch', right_on = 'Stream').drop('Stream',axis=1)

   St_id Branch F_name
0    101     IT      D
1    102     CS      E
2    104     CS      E
3    103    ECE      A
4    105   Mech      B

In [ ]:
# Merge based on Index

In [19]:
df1 = pd. DataFrame({'key' :['b', 'a', 'd','e'], 'data1': [0,4,6,8]}) #has unique
df2 =pd. DataFrame({'key' :['a', 'b', 'd', 'f'], 'data2': [3,6,9,11]})   # has unique row labels
print ("DataFrame1\n",df1,"DataFrame2\n",df2)
pd.merge(df1,df2,left_index = True, right_index = True)

DataFrame1
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8 DataFrame2
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11

  key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [ ]:
# merge is method of Pandas while Join is Dataframe methon

In [24]:
print ('\nUsing Join\n',df1.join(df2,lsuffix='_x', rsuffix='_y'))
# Join do merge with indices

Using Join
   key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [26]:
df1 = pd. DataFrame({'key' :['b', 'a', 'd','e'], 'data1': [0,4,6,8]}, index= [10,20,30,40])
df2 =pd. DataFrame({'key' :['a', 'b', 'd', 'f'], 'data2': [3,6,9,11]}, index  = [40,50,60,70])
print ('\nMerge On Indices\n',pd.merge(df1,df2,how='inner',left_index = True, right_index = True))

Merge On Indices
    key_x  data1 key_y  data2
40     e      8     a      3

In [27]:
print ('\nMerge On Indices\n',pd.merge(df1,df2,how='outer',left_index = True, right_index = True))

Merge On Indices
    key_x  data1 key_y  data2
10     b    0.0   NaN    NaN
20     a    4.0   NaN    NaN
30     d    6.0   NaN    NaN
40     e    8.0     a    3.0
50   NaN    NaN     b    6.0
60   NaN    NaN     d    9.0
70   NaN    NaN     f   11.0

In [28]:
df1 =pd. DataFrame({'key' : ['b', 'b', 'a','c', 'a'], 'data1': [10,20,30,40,50]})
df2 = pd.DataFrame({'key' : ['a', 'b', 'a', 'd'], 'data2': [100,200,300,400]})
#print ('\nMerge On Indices\n',pd.merge(df1,df2,how='outer'))

Merge On Indices
   key  data1  data2
0   b   10.0  200.0
1   b   20.0  200.0
2   a   30.0  100.0
3   a   30.0  300.0
4   a   50.0  100.0
5   a   50.0  300.0
6   c   40.0    NaN
7   d    NaN  400.0

In [31]:
dfn1 = df1.set_index('key')
dfn2 = df2.set_index('key')
print (dfn1)
print (df1)

     data1
key
b       10
b       20
a       30
c       40
a       50
  key  data1
0   b     10
1   b     20
2   a     30
3   c     40
4   a     50

In [32]:
print (dfn2)

     data2
key
a      100
b      200
a      300
d      400

In [33]:
print ('\nMerge On Indices\n',pd.merge(dfn1,dfn2,how='outer',left_index = True, right_index = True))

Merge On Indices
      data1  data2
key
a     30.0  100.0
a     30.0  300.0
a     50.0  100.0
a     50.0  300.0
b     10.0  200.0
b     20.0  200.0
c     40.0    NaN
d      NaN  400.0

In [34]:
# join with index column 
print ('\nUsing Join\n',dfn1.join(dfn2,lsuffix='_x', rsuffix='_y'))

Using Join
      data1  data2
key
a       30  100.0
a       30  300.0
a       50  100.0
a       50  300.0
b       10  200.0
b       20  200.0
c       40    NaN